.scroll-up {
	animation: scroll-up 1s forwards;
}

.show-item {
	animation: appear 1s forwards;
}

.scale-item {
	animation: scale-item 1s forwards;
}

.show-bg {
	animation: show-bg 1s forwards;
}

.show-contacts {
	animation: appear 1s forwards, item-up 1s forwards;
}

@keyframes scroll-up {
	0% {
		top: 100%;
	}
	100% {
		top: 0%;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes scale-item {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes show-bg {
	0% {
		background-color: tranparent;
	}
	100% {
		background-color: #0066CC;
	}
}

@keyframes item-up {
	0% {
		top: 100px;
	}
	100% {
		top: 30px;
	}
}